input[type="radio"] {
  accent-color: black;
    /* margin-right: 8px; */
}

.legend__text{
    margin-bottom: 12px;
}

.modal__radio-input{
  margin-right: 8px;

}
/* 2. Base style for label text */
.modal__radio-label {
  display: flex;
  align-items: center;
  gap: 8px;
  /* cursor: pointer; */
  font-weight: 400;
}

/* 3. Make the text black when selected */
input[type="radio"]:checked + span {
  color: black;
  font-weight: 500; /* Optional: make selected bolder */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000004d;
  visibility: hidden;
}

.modal__open {
  visibility: visible;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 496px;
  height: fit-content;
  padding: 28px 28px 36px;
  border-radius: 20px;
  background-color: #ffffff;
  /* border: 1px solid black; */
  gap: 24px;
}

.modal__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  border: none;
}

.modal__title {
  margin: 0;
  padding-top: 8px;
}

.modal__closeBtn {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__input {
  margin: 0;
  padding-bottom: 4px;
  border: none;
  border-bottom: 1px solid black;
}

.modal__contents {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text_url {
  display: flex;
  flex-direction: column;
  height: 52px;
  justify-content: space-between;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 0;
  color: grey;
}

.modal__legend_and_radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0;
  margin: 0;
  border: none;
}

.modal__submitBtn {
  margin: 8px 0 0;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #0000004d;
  border: none;
  color: white;
  width: fit-content;
}
