.weather-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  align-items: center;
  height: 80px;
  display: flex;
  margin: 0 0 40px 0;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
  height: 100%;

}

.weather-card__text {
  position: absolute;
  left: 16px;
  color: white;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  top: 20px
}


