.main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.cards {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.class__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 0 85px 0;
  padding: 0;
}

.class__list-item {
  list-style-type: none;
}
