.sidebar {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.user-info {
  display: flex;
  align-items: center;
  width: 229px;
  gap: 16px;
}

.sidebar__username {
  margin: 0;
  padding: 0;
}

.sidebar__settings {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.sidebar__edit-button,
.sidebar__signout-button {
  border: none;
  background-color: transparent;
}

.header__avatar2, .header__avatar-image{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.avatar{
    height: fit-content;
}
