.modal__submit{
    background-color: #0000004D;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
}

.modal__alt-button{
    background-color: transparent;
    color:#00000080;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
}