.clothes-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 20px;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
    padding: 0;
  margin: 0;

}
h2{
      padding: 0;
  margin: 0;
}
.clothes-section__header {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.clothes-section__header-button{
    border: none;
    color: #00000099;
    background-color: transparent
}
